<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <form action="/sinhvien/sua/<%= sinhvien.rows[0].id%>" method="post" id="fsinhvien">
        <label for="tensinhvien">Họ tên sinh viên: </label>
        <input type="text" name="tensinhvien" id="hoten" value="<%= sinhvien.rows[0].hoten%>">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="<%= sinhvien.rows[0].email%>">
        <input type="submit" value="sua">
    </form>
</body>
</html>