<html>
    <head>

    </head>
    <body>
        <a href="/bodyparser">body-Parser js</a><br>
        <a href="/config">config js</a><br>
        <a href="/connectflash/flash">connect-flash js</a><br>
        <a href="/bcrypt">bcrypt js</a><br>
        <a href="/moment">moment js</a><br>
        <a href="/dropzone">dropzone js</a><br>
        <a href="/multer">multer js</a><br>
        <a href="/sinhvien">sinhvien js</a><br>
    </body>
</html>